# Password to group (myhosts)
pass_host_ssh: "[INSERT_SECURE_SSH_PASSWORD]"
pass_host_sudo: "[INSERT_SECURE_PASSWORD]"

# Password to group (netdevices)
pass_sw_ssh: "[INSERT_SECURE_SSH_PASSWORD]"
pass_sw_enable: "[INSERT_SECURE_ENABLE_PASSWORD]"
